<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <h4>Фамилия: {{dict_['surname']}}</h4>
        <h4>Имя: {{dict_['name']}}</h4>
        <h4>Образование: {{dict_['education']}}</h4>
        <h4>Профессия: {{dict_['job']}}</h4>
        <h4>Пол: {{dict_['sex']}}</h4>
        <h4>Мотивация: {{dict_['motivation']}}</h4>
        <h4>Готовы остаться на Марсе? {{dict_['stay']}}</h4>
    {% endblock %}
</body>>

